html {
    height: 100%;
}

body {
    background: url('/media/ketoimage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Encode Sans SC', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    background: black;
    color: white;
}

.nav-font {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}
.nav-font:hover {
    text-decoration: underline;
}

.main-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.main-logo-link {
    width: fit-content;
}

.brain-logo {
    font-size: 2.5rem;
}

.info-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.social-link {
    color: white;
}

.social-link:hover {
    color: #555;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.product-info {
    font-family: 'Bebas Neue', cursive;
}

.bag-buttons {
    text-align: right;
}

.bag-edit {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}